<a href="https://colab.research.google.com/github/bmt215133/bmt_python/blob/main/21513_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 일반적으로 각 패키지는 별칭으로 pd, np, plt라는 이름으로 불림
import pandas as pd # 이차원 표
import numpy as np # 파이썬에서 사용하는 숫자
import matplotlib.pyplot as plt # 그래프

In [6]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
a = [1, 3, 5, np.nan, 6, 8]
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
type(s)

pandas.core.series.Series

In [8]:
type(a)

list

In [9]:
dates = pd.date_range('20210507', periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0  0.263816 -1.894537 -0.063996  0.709612
1  0.348831 -0.374177 -0.817029  1.250170
2  0.835548 -1.270334  1.424526  1.171811
3  0.970761  0.513901  1.079201 -0.392843
4  0.053460 -0.101831  1.471877 -0.290140
5  2.222388 -0.946478  0.370982 -0.190594

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates)
df

                   0         1         2         3
2021-05-07  0.605585 -0.371016  0.280339  1.068234
2021-05-08 -0.142034  0.458987 -0.053095 -0.531671
2021-05-09  0.438211 -0.429822 -0.814987 -1.239294
2021-05-10 -0.670679 -0.449227 -0.148123 -2.087106
2021-05-11 -0.474894 -1.127439  1.533348  0.587775
2021-05-12 -0.628217  1.024104  0.529672 -1.838619

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['국어','영어','수학','물리'])
df

                  국어        영어        수학        물리
2021-05-07 -0.077955 -0.640337 -0.964798  2.085516
2021-05-08  0.615249 -0.869249 -1.433341 -1.195779
2021-05-09  0.721236  0.775191 -1.053696  0.822254
2021-05-10 -0.196678  0.358592  0.399434  0.440213
2021-05-11  0.587437  1.872545 -0.472305 -1.015642
2021-05-12  0.504016 -2.051746  0.123257 -0.648307

In [16]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [19]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20210507'),
        'C': pd.Series(1, index=list(range(4)),dtype ='float32'),
        'D': np.array([3]*4, dtype='int32'),
        'E': pd.Categorical(['test','train','test','train']),
        'F': 'foo'
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-05-07  1.0  3   test  foo
1  1.0 2021-05-07  1.0  3  train  foo
2  1.0 2021-05-07  1.0  3   test  foo
3  1.0 2021-05-07  1.0  3  train  foo

In [20]:
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [21]:
df.head()

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589

In [22]:
df.tail()

                   A         B         C         D
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [23]:
df.head(1)

                   A        B         C         D
2021-05-07  0.974905 -0.86871  0.278801 -0.380397

In [24]:
df.tail(2)

                   A         B         C         D
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [25]:
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [27]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [29]:
df.values

array([[ 0.97490518, -0.86871015,  0.27880137, -0.38039735],
       [-0.487593  , -0.71695123,  1.10446066, -0.23148633],
       [ 0.50318121,  1.08410459, -0.40628857, -0.54076511],
       [-0.67787131, -1.21930352,  0.74462217, -0.0512766 ],
       [-0.05996177, -0.60916772,  0.41688869,  0.24358907],
       [ 1.17588216, -0.65211239, -0.78462804, -0.1131088 ]])

In [31]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.238090 -0.497023  0.225643 -0.178908
std    0.767732  0.805581  0.707255  0.273286
min   -0.677871 -1.219304 -0.784628 -0.540765
25%   -0.380685 -0.830770 -0.235016 -0.343170
50%    0.221610 -0.684532  0.347845 -0.172298
75%    0.856974 -0.619904  0.662689 -0.066735
max    1.175882  1.084105  1.104461  0.243589

In [34]:
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [35]:
df.T

   2021-05-07  2021-05-08  2021-05-09  2021-05-10  2021-05-11  2021-05-12
A    0.974905   -0.487593    0.503181   -0.677871   -0.059962    1.175882
B   -0.868710   -0.716951    1.084105   -1.219304   -0.609168   -0.652112
C    0.278801    1.104461   -0.406289    0.744622    0.416889   -0.784628
D   -0.380397   -0.231486   -0.540765   -0.051277    0.243589   -0.113109

In [37]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [38]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-05-07 -0.380397  0.278801 -0.868710  0.974905
2021-05-08 -0.231486  1.104461 -0.716951 -0.487593
2021-05-09 -0.540765 -0.406289  1.084105  0.503181
2021-05-10 -0.051277  0.744622 -1.219304 -0.677871
2021-05-11  0.243589  0.416889 -0.609168 -0.059962
2021-05-12 -0.113109 -0.784628 -0.652112  1.175882

In [40]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-07  0.974905 -0.868710  0.278801 -0.380397

In [41]:
df.sort_values(by= 'B')

                   A         B         C         D
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-09  0.503181  1.084105 -0.406289 -0.540765

In [42]:
df['A']

2021-05-07    0.974905
2021-05-08   -0.487593
2021-05-09    0.503181
2021-05-10   -0.677871
2021-05-11   -0.059962
2021-05-12    1.175882
Freq: D, Name: A, dtype: float64

In [43]:
df['B']

2021-05-07   -0.868710
2021-05-08   -0.716951
2021-05-09    1.084105
2021-05-10   -1.219304
2021-05-11   -0.609168
2021-05-12   -0.652112
Freq: D, Name: B, dtype: float64

In [47]:
df[['A','B','D']]

                   A         B         D
2021-05-07  0.974905 -0.868710 -0.380397
2021-05-08 -0.487593 -0.716951 -0.231486
2021-05-09  0.503181  1.084105 -0.540765
2021-05-10 -0.677871 -1.219304 -0.051277
2021-05-11 -0.059962 -0.609168  0.243589
2021-05-12  1.175882 -0.652112 -0.113109

In [48]:
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [56]:
print(df[0:3]),
print(df['20210507':'20210509'])
print(df[['A','B','C']])

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
                   A         B         C
2021-05-07  0.974905 -0.868710  0.278801
2021-05-08 -0.487593 -0.716951  1.104461
2021-05-09  0.503181  1.084105 -0.406289
2021-05-10 -0.677871 -1.219304  0.744622
2021-05-11 -0.059962 -0.609168  0.416889
2021-05-12  1.175882 -0.652112 -0.784628

In [57]:
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [63]:
df.loc['20210507':'20210508',['A','C']]

                   A         C
2021-05-07  0.974905  0.278801
2021-05-08 -0.487593  1.104461

In [68]:
df.iloc[1:3,0:3]

                   A         B         C
2021-05-08 -0.487593 -0.716951  1.104461
2021-05-09  0.503181  1.084105 -0.406289

In [73]:
df.iloc[0,3],[1,3]

(-0.38039734655181673, [1, 3])

In [74]:
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [75]:
df.iloc[0,0]

0.9749051781547813

In [76]:
df.iloc[3,2]

0.7446221682839635

In [77]:
df.iloc[[1, 3],[1, 3]]

                   B         D
2021-05-08 -0.716951 -0.231486
2021-05-10 -1.219304 -0.051277

In [78]:
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [82]:
df.A > 0.5

2021-05-07     True
2021-05-08    False
2021-05-09     True
2021-05-10    False
2021-05-11    False
2021-05-12     True
Freq: D, Name: A, dtype: bool

In [83]:
df[df.A > 0.5]

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [84]:
df > 0

                A      B      C      D
2021-05-07   True  False   True  False
2021-05-08  False  False   True  False
2021-05-09   True   True  False  False
2021-05-10  False  False   True  False
2021-05-11  False  False   True   True
2021-05-12   True  False  False  False

In [85]:
df[df>0]

                   A         B         C         D
2021-05-07  0.974905       NaN  0.278801       NaN
2021-05-08       NaN       NaN  1.104461       NaN
2021-05-09  0.503181  1.084105       NaN       NaN
2021-05-10       NaN       NaN  0.744622       NaN
2021-05-11       NaN       NaN  0.416889  0.243589
2021-05-12  1.175882       NaN       NaN       NaN

In [86]:
df2 = df.copy()

In [90]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [91]:
df2

                   A         B         C         D      E
2021-05-07  0.974905 -0.868710  0.278801 -0.380397    one
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486    one
2021-05-09  0.503181  1.084105 -0.406289 -0.540765    two
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277  three
2021-05-11 -0.059962 -0.609168  0.416889  0.243589   four
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109  three

In [93]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2021-05-09  0.503181  1.084105 -0.406289 -0.540765   two
2021-05-11 -0.059962 -0.609168  0.416889  0.243589  four

In [94]:
df

                   A         B         C         D
2021-05-07  0.974905 -0.868710  0.278801 -0.380397
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486
2021-05-09  0.503181  1.084105 -0.406289 -0.540765
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277
2021-05-11 -0.059962 -0.609168  0.416889  0.243589
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109

In [95]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))

In [97]:
df['F']=s1

In [99]:
df

                   A         B         C         D  F
2021-05-07  0.974905 -0.868710  0.278801 -0.380397  1
2021-05-08 -0.487593 -0.716951  1.104461 -0.231486  2
2021-05-09  0.503181  1.084105 -0.406289 -0.540765  3
2021-05-10 -0.677871 -1.219304  0.744622 -0.051277  4
2021-05-11 -0.059962 -0.609168  0.416889  0.243589  5
2021-05-12  1.175882 -0.652112 -0.784628 -0.113109  6

In [103]:
df[df>0] = -df

In [104]:
df

                   A         B         C         D  F
2021-05-07 -0.974905 -0.868710 -0.278801 -0.380397 -1
2021-05-08 -0.487593 -0.716951 -1.104461 -0.231486 -2
2021-05-09 -0.503181 -1.084105 -0.406289 -0.540765 -3
2021-05-10 -0.677871 -1.219304 -0.744622 -0.051277 -4
2021-05-11 -0.059962 -0.609168 -0.416889 -0.243589 -5
2021-05-12 -1.175882 -0.652112 -0.784628 -0.113109 -6