<a href="https://colab.research.google.com/github/bmt215133/bmt_python/blob/main/21513_11%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-14 -0.969390  0.826687 -1.476876  0.476999
2021-05-15 -1.889711 -0.695406  0.272463 -1.987495
2021-05-16  0.206889 -0.194488 -1.284040  0.564570
2021-05-17  0.759801  1.024084 -0.497506 -0.706068
2021-05-18 -0.076493 -0.036077  1.748564  0.864918
2021-05-19  0.835998  0.205923 -0.647385 -0.702684

In [6]:
df.mean(0)

A   -0.188818
B    0.188454
C   -0.314130
D   -0.248293
dtype: float64

In [7]:
df.mean(1)

2021-05-14   -0.285645
2021-05-15   -1.075037
2021-05-16   -0.176767
2021-05-17    0.145078
2021-05-18    0.625228
2021-05-19   -0.077037
Freq: D, dtype: float64

In [8]:
df

                   A         B         C         D
2021-05-14 -0.969390  0.826687 -1.476876  0.476999
2021-05-15 -1.889711 -0.695406  0.272463 -1.987495
2021-05-16  0.206889 -0.194488 -1.284040  0.564570
2021-05-17  0.759801  1.024084 -0.497506 -0.706068
2021-05-18 -0.076493 -0.036077  1.748564  0.864918
2021-05-19  0.835998  0.205923 -0.647385 -0.702684

In [11]:
df.apply(np.cumsum)

                   A         B         C         D
2021-05-14 -0.969390  0.826687 -1.476876  0.476999
2021-05-15 -2.859101  0.131281 -1.204413 -1.510496
2021-05-16 -2.652212 -0.063207 -2.488453 -0.945925
2021-05-17 -1.892410  0.960877 -2.985959 -1.651994
2021-05-18 -1.968903  0.924800 -1.237395 -0.787076
2021-05-19 -1.132906  1.130723 -1.884780 -1.489760

In [12]:
df

                   A         B         C         D
2021-05-14 -0.969390  0.826687 -1.476876  0.476999
2021-05-15 -1.889711 -0.695406  0.272463 -1.987495
2021-05-16  0.206889 -0.194488 -1.284040  0.564570
2021-05-17  0.759801  1.024084 -0.497506 -0.706068
2021-05-18 -0.076493 -0.036077  1.748564  0.864918
2021-05-19  0.835998  0.205923 -0.647385 -0.702684

In [15]:
print(df.apply(lambda x: x.max() - x.min(), axis=1))

2021-05-14    2.303563
2021-05-15    2.259958
2021-05-16    1.848610
2021-05-17    1.730153
2021-05-18    1.825057
2021-05-19    1.538682
Freq: D, dtype: float64

In [27]:
s = pd.Series(np.random.randint(1,7,size = 600))
s.value_counts()

4    118
6    109
2    101
5     95
1     93
3     84
dtype: int64

In [30]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.250471 -1.209959 -0.126028  0.897114
1 -1.188212 -0.251887  0.006479  1.164911
2  0.051887 -0.519528 -0.596537 -1.442809
3  1.050704 -0.037893  1.144770 -0.017727
4  0.321755 -0.124500  0.239327  0.453160
5  0.018299 -1.074411 -1.254991 -0.232065
6 -0.361575 -0.727864 -1.852804  2.146960
7  0.172631  0.115570 -0.704387 -0.933651
8 -0.613568 -0.900146 -0.003374 -1.075603
9 -0.421796 -0.137179 -0.270054  1.082281

In [31]:
df[:3]

          0         1         2         3
0 -0.250471 -1.209959 -0.126028  0.897114
1 -1.188212 -0.251887  0.006479  1.164911
2  0.051887 -0.519528 -0.596537 -1.442809

In [32]:
df[3:7]

          0         1         2         3
3  1.050704 -0.037893  1.144770 -0.017727
4  0.321755 -0.124500  0.239327  0.453160
5  0.018299 -1.074411 -1.254991 -0.232065
6 -0.361575 -0.727864 -1.852804  2.146960

In [33]:
df[7:]

          0         1         2         3
7  0.172631  0.115570 -0.704387 -0.933651
8 -0.613568 -0.900146 -0.003374 -1.075603
9 -0.421796 -0.137179 -0.270054  1.082281

In [35]:
pieces = [ df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.250471 -1.209959 -0.126028  0.897114
 1 -1.188212 -0.251887  0.006479  1.164911
 2  0.051887 -0.519528 -0.596537 -1.442809,
           0         1         2         3
 3  1.050704 -0.037893  1.144770 -0.017727
 4  0.321755 -0.124500  0.239327  0.453160
 5  0.018299 -1.074411 -1.254991 -0.232065
 6 -0.361575 -0.727864 -1.852804  2.146960,
           0         1         2         3
 7  0.172631  0.115570 -0.704387 -0.933651
 8 -0.613568 -0.900146 -0.003374 -1.075603
 9 -0.421796 -0.137179 -0.270054  1.082281]

In [37]:
pieces[2]

          0         1         2         3
7  0.172631  0.115570 -0.704387 -0.933651
8 -0.613568 -0.900146 -0.003374 -1.075603
9 -0.421796 -0.137179 -0.270054  1.082281

In [38]:
pd.concat(pieces)

          0         1         2         3
0 -0.250471 -1.209959 -0.126028  0.897114
1 -1.188212 -0.251887  0.006479  1.164911
2  0.051887 -0.519528 -0.596537 -1.442809
3  1.050704 -0.037893  1.144770 -0.017727
4  0.321755 -0.124500  0.239327  0.453160
5  0.018299 -1.074411 -1.254991 -0.232065
6 -0.361575 -0.727864 -1.852804  2.146960
7  0.172631  0.115570 -0.704387 -0.933651
8 -0.613568 -0.900146 -0.003374 -1.075603
9 -0.421796 -0.137179 -0.270054  1.082281

In [39]:
left = pd.DataFrame(
    {
        'key':['foo', 'foo'],
        'lval': [1, 2]
     }
     )
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [40]:
left

   key  lval
0  foo     1
1  foo     2

In [41]:
right

   key  rval
0  foo     4
1  foo     5

In [44]:
pd_merge = pd.merge(left, right, on = 'key')
pd_merge

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [46]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -0.763027 -1.387222  0.464190  0.949172
1  1.053995  0.297756 -0.428625 -1.225889
2 -0.809742  0.645223  0.437304 -0.176268
3 -1.241027 -1.466336  0.949337 -0.208934
4 -0.071700 -1.258521 -0.594698 -0.242582
5  0.909312  0.089511  0.024092 -1.797269
6 -1.463431  1.000970  2.099295  1.362973
7 -0.785642  1.195634  0.088269 -0.145726

In [47]:
s = df.iloc[3]
s

A   -1.241027
B   -1.466336
C    0.949337
D   -0.208934
Name: 3, dtype: float64

In [48]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.763027 -1.387222  0.464190  0.949172
1  1.053995  0.297756 -0.428625 -1.225889
2 -0.809742  0.645223  0.437304 -0.176268
3 -1.241027 -1.466336  0.949337 -0.208934
4 -0.071700 -1.258521 -0.594698 -0.242582
5  0.909312  0.089511  0.024092 -1.797269
6 -1.463431  1.000970  2.099295  1.362973
7 -0.785642  1.195634  0.088269 -0.145726
8 -1.241027 -1.466336  0.949337 -0.208934